#chat .chat-message .turn-announcer {
  margin: 0;
  border: none;
}
#chat .chat-message .turn-announcer .text {
  margin-left: 3px;
  /* DEPRECATED */
  flex: 4 0 4em;
}
#chat .chat-message .turn-announcer .portrait {
  /* DEPRECATED */
  flex: 0 0 48px;
  height: 48px;
  width: 48px;
}
#chat .chat-message .turn-announcer h2.actor {
  /* DEPRECATED */
  font-size: 1.2em;
  margin-bottom: 3px;
}
#chat .chat-message .turn-announcer .player {
  /* DEPRECATED */
  margin: 0;
}
#chat .chat-message .turn-announcer .actor .name::after {
  content: "'s turn";
}
#chat .chat-message.missed-turn-announcer {
  display: block;
  flex-direction: row;
  flex: 5 0.5 8em;
  background: unset;
  background-color: #9a1818;
  border-color: orange;
  padding: 3px;
  line-height: 1em;
  white-space: nowrap;
}
#chat .chat-message.missed-turn-announcer .missed-token {
  text-shadow: black -1px -1px 0px, black 1px -1px 0px, black -1px 1px 0px, black 1px 1px 0px;
  /*
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
			*/
  color: white;
  text-align: center;
  font-size: 12px;
  align-self: center;
}
#chat .chat-message.missed-turn-announcer .message-metadata {
  flex: 0;
  text-shadow: orange -1px -1px 0px, orange 1px -1px 0px, orange -1px 1px 0px, orange 1px 1px 0px;
}
