<div class='turn-announcer flexrow' data-actor-id="{{actorId}}" data-user-id="{{userId}}">
	<div class='portrait' style='flex: 0 0 48px; height: 48px; width: 48px;'>
		<img src='{{token.data.img}}' />
	</div>
	<div class='text' style='margin-left: 3px;'>
		<h2 class='actor' style='margin-bottom: 3px; font-size: 1.2em;'><span class='name'>{{token.name}}</span></h2>
		<span class='player'><span class='name'>{{player}}</span></span>
	</div>
</div>
