#chat .chat-message {
	.turn-announcer {
		margin: 0;
		border: none;

		.text {
			margin-left: 3px;
			/* DEPRECATED */
			flex: 4 0 4em;
		}

		.portrait {
			/* DEPRECATED */
			flex: 0 0 48px;
			height: 48px;
			width: 48px;
		}

		h2.actor {
			/* DEPRECATED */
			font-size: 1.2em;
			margin-bottom: 3px;
		}

		.player {
			/* DEPRECATED */
			margin: 0;
		}

		.actor .name::after {
			content: "'s turn";
		}
	}

	&.missed-turn-announcer {
		display: block;
		flex-direction: row;
		flex: 5 0.5 8em;

		background: unset;
		background-color: #9a1818;
		border-color: orange;
		padding: 3px;
		line-height: 1em;

		white-space: nowrap;
		@msgOutline: black;
		@msgOutline2: orange;
		@msgOutline3: yellow;

		.missed-token {
			text-shadow: @msgOutline -1px -1px 0px, @msgOutline 1px -1px 0px, @msgOutline -1px 1px 0px, @msgOutline 1px 1px 0px;
			/*
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
			*/
			color: white;
			text-align: center;
			font-size: 12px;

			align-self: center;
		}

		.message-metadata {
			flex: 0;
			text-shadow: @msgOutline2 -1px -1px 0px, @msgOutline2 1px -1px 0px, @msgOutline2 -1px 1px 0px, @msgOutline2 1px 1px 0px;
		}
	}
}
